/* Global Styles for Timeline */
.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  list-style-type: none;
}

/* Timeline Item */
.timeline-item {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

/* Timeline Header */
.timeline-item-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.timeline-item-subtitle {
  font-size: 18px;
  color: var(--sidebar-muted-color);
}

.timeline-item-date {
  font-size: 18px;
  color: #888;
  margin-top: 5px;
}

.timeline-item-content {
  font-size: 16px;
  margin-top: 15px;
}

/* ========================== Timeline Content ====================================== */
.timeline-content {
  margin-left: 60px;
  padding: 20px;
  background: var(--card-bg);
  transition: 0.35s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  width: 90%;
}
/* ============================================================================================ */

/* ========================== Timeline Line (Before Element) ====================================== */
.timeline-item::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #f1f3f5; /* Default light mode line color */
}
/* ============================================================================================ */

/* ========================== Timeline Circle (Icon) ============================================= */
.timeline-icon {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--link-color);
}
.timeline-item:first-of-type .timeline-icon {
  background-color: var(--link-color);;
}
/* ============================================================================================ */

/* Optional: Adding some responsiveness for mobile view */
@media (max-width: 600px) {
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-content {
    margin-left: 0;
  }
}

/* Hide timeline items when needed */
.timeline-hidden {
  display: none;
}
