---
layout: default
refactor: true
panel_includes:
  - related-posts
tail_includes:
  - related-posts
  - post-nav
script_includes:
  - comment
---
{% include lang.html %}

<article class="px-1">
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc fw-light mb-4">{{ page.description }}</p>
    {% endif %}

    <div class="post-meta text-muted">
      <span style="font-weight: bold; color: #757575; font-size: 16px">
        {{ site.data.locales[lang].project.posted }}
        {% if page.start_date and page.end_date %}
          {{ page.start_date | date: '%b %Y' }} - {{ page.end_date | date: '%b %Y' }}
        {% else %}
          <em>No date available</em>
        {% endif %}
      </span>

      <div class="d-flex justify-content-between">
        <span style="font-weight: bold; color: #757575; font-size: 15px;">
          Mentored by:
          <em style="font-style: italic;">
            {% if page.mentor %}
              {{ page.mentor }}
            {% else %}
              <em>No mentor specified</em>
            {% endif %}
          </em>
        </span>
        {% comment %}
          <span>
            {% if page.author %}
              {% assign authors = page.author %}
            {% elsif page.authors %}
              {% assign authors = page.authors %}
            {% endif %}
            {{ site.data.locales[lang].project.written_by }}
            <em>
              {% if authors %}
                {% for author in authors %}
                  {% if site.data.authors[author].url %}
                    <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
                  {% else %}
                    {{ site.data.authors[author].name }}
                  {% endif %}
                  {% unless forloop.last %}, {% endunless %}
                {% endfor %}
              {% else %}
                <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
              {% endif %}
            </em>
          </span>
        {% endcomment %}
      </div>
      {% if page.github %}
        <p style="font-weight: bold; color: #757575; font-size: 15px;"><a href="https://billing-360-dev-1.onrender.com/" target="_blank"><strong><i class="fab fa-github"></i> GitHub : Billing360</strong></a></p>
        {% comment %} <span style="font-weight: bold; color: #757575; font-size: 15px;">
          <a href="{{ page.github }}" target="_blank" style="color: #508cee; text-decoration: none;">

          </a>
        </span> {% endcomment %}
      {% endif %}
    </div>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <div class="post-tail-wrapper text-muted">
    {% if page.categories.size > 0 %}
      <div class="post-meta mb-3">
        <i class="far fa-folder-open fa-fw me-1"></i>
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}">{{ category }}</a>
          {% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
    {% endif %}

    {% if page.tags.size > 0 %}
      <div class="post-tags">
        <i class="fa fa-tags fa-fw me-1"></i>
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}" class="post-tag no-text-decoration">
            {{- tag -}}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</article>
<style>
  .btn.btn-outline-primary {
    display: none;
  }
</style>
